@import url(https://fonts.googleapis.com/css?family=Rubik:regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:700,800&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #616161;
  line-height: 1;
  font-family: Rubik;
  font-size: .75rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Rubik;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 68.125rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.button {
  display: inline-flex;
  padding: .9375rem 1.9375rem;
  font-family: Raleway;
  color: #fcfdfe;
  background-color: #ec5863;
  font-weight: 800;
  text-transform: uppercase;
  align-items: center;
  line-height: 1.4;
  letter-spacing: .0875em;
  background-color: #4285f4;
  padding: .875rem 1.875rem;
  border-radius: .3125rem;
  transition: all .3s ease 0s
}
.button_button-blue {
  background-color: #4285f4
}
.button--fw {
  width: 100%
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.block-text_center {
  text-align: center
}
.block-text__title {
  color: #000;
  font-weight: 700;
  line-height: 126%;
  margin-bottom: .75rem
}
.block-text__title:not(:last-child) {
  margin-bottom: .75rem
}
.block-text__title span {
  color: #ec5863
}
.block-text__title_blue span {
  color: #4285f4
}
.block-text__text {
  color: #616161;
  line-height: 138.5%;
  letter-spacing: .06em
}
.block-text__text:not(:last-child) {
  margin-bottom: 1.5rem
}
.block-text__button {
  background-color: #ec5863
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  min-height: 7.25rem
}
.header__logo {
  position: relative;
  z-index: 5
}
.header__menu {
  flex: 1 1 auto
}
.menu {
  display: flex;
  justify-content: flex-end;
  padding-right: 2.5rem
}
.menu__list {
  display: flex;
  align-items: center;
  row-gap: .625rem
}
.menu__link {
  font-weight: 700;
  color: #000;
  letter-spacing: 1.4px
}
.footer_items {
  display: flex;
  align-items: center;
  justify-content: center
}
.footer__item {
  transition: all .3s ease 0s
}
.footer__item:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03)
}
.main-block {
  background-color: #fafbfd
}
.main-block__container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center
}
.main-block__container:before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  background-color: #ec5863;
  -webkit-transform: translate(100%,0);
  transform: translate(100%,0);
  border-radius: 1.875rem 0 0 1.875rem
}
.main-block__content {
  flex: 0 1 47%;
  padding: 0 .625rem
}
.main-block__block-text {
  max-width: 25.3125rem
}
.main-block__image {
  position: relative;
  z-index: 2;
  flex: 0 1 53%
}
.main-block__image img {
  max-width: 100%
}
.main-block__video {
  display: flex;
  flex: 1 1 100%;
  padding-left: .625rem
}
.video-main-block {
  position: relative;
  display: inline-flex;
  align-items: center;
  transition: all .3s ease 0s
}
.video-main-block:hover {
  text-decoration: underline;
  -webkit-transform: scale(1.06);
  transform: scale(1.06)
}
.video-main-block:not(:last-child) {
  margin-bottom: 2.75rem
}
.video-main-block__icon {
  flex: 0 0 2.75rem
}
.video-main-block__icon::after {
  content: "";
  position: absolute;
  top: .0625rem;
  left: .125rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #ec5863;
  opacity: .12;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-animation: play-circle 2s infinite ease;
  animation: play-circle 2s infinite ease
}
.video-main-block__icon::after:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused
}
@-webkit-keyframes play-circle {
  0% {
    -webkit-transform: scale(1.6);
    transform: scale(1.6)
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    transform: scale(2.5)
  }
}
@keyframes play-circle {
  0% {
    -webkit-transform: scale(1.6);
    transform: scale(1.6)
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    transform: scale(2.5)
  }
}
.video-main-block__body {
  padding-left: .75rem
}
.video-main-block__title {
  color: #b0b0b0;
  font-size: .8125rem;
  line-height: 126%;
  letter-spacing: .065em
}
.video-main-block__title:not(:last-child) {
  margin-bottom: .3125rem
}
.video-main-block__text {
  color: #000;
  font-size: .5625rem;
  line-height: 126%;
  letter-spacing: .0928125em;
  text-transform: uppercase
}
.safe {
  background-color: #fff
}
.safe__container {
  display: flex;
  align-items: center
}
.safe__media {
  flex: 0 1 50%
}
.safe__content {
  flex: 0 1 50%;
  padding-left: 2.9375rem
}
.safe__block-text {
  max-width: 23.75rem
}
.media-safe {
  width: 23.3125rem;
  position: relative;
  text-align: center;
  padding: 3.5rem 0 1.6875rem 0
}
.media-safe__image {
  position: relative;
  z-index: 2;
  display: inline-block;
  border-radius: 1.875rem;
  width: 61.59%;
  box-shadow: .25rem .25rem .25rem rgba(0,0,0,.12)
}
.media-safe__image img {
  position: relative;
  z-index: 5;
  max-width: 100%;
  transition: all .5s ease 0s
}
.media-safe__image img::after {
  z-index: 2;
  content: "";
  position: absolute;
  width: 12.9375rem;
  height: 1.625rem;
  top: 0;
  bottom: -.75rem;
  left: .75rem;
  border-radius: 1rem;
  border: .125rem solid #000;
  background: rgba(240,240,240,.49)
}
.media-safe__image img:hover {
  -webkit-transform: scale(1.01);
  transform: scale(1.01)
}
.media-safe__item {
  position: absolute;
  background-color: #ec5863;
  border-radius: 1.875rem;
  width: 4.8125rem;
  height: 4.8125rem
}
.media-safe__item_1 {
  top: 0;
  left: 0;
  width: 9.1875rem;
  height: 9.1875rem;
  box-shadow: .25rem .25rem .25rem rgba(0,0,0,.12)
}
.media-safe__item_2 {
  bottom: 0;
  left: 2.0625rem;
  box-shadow: .25rem .25rem .25rem rgba(0,0,0,.12)
}
.media-safe__item_3 {
  bottom: 6.6875rem;
  right: 2.1875rem;
  border-radius: 1.875rem;
  box-shadow: .25rem .25rem .25rem rgba(0,0,0,.12)
}
.experts {
  background-color: #fafbfd
}
.experts__body {
  display: flex;
  align-items: center
}
.experts__content {
  flex: 0 1 50%;
  padding-right: 1.25rem
}
.experts__video {
  position: relative;
  flex: 0 1 50%;
  z-index: 2;
  padding-top: 30%;
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0 .125rem 1.5rem 0 rgba(88,126,236,.15)
}
.experts__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 1rem
}
.stats-experts {
  margin: 0 auto;
  max-width: 40.9375rem;
  position: relative
}
.stats-experts__body {
  z-index: 2;
  position: relative;
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0 .125rem 1.5rem 0 rgba(88,126,236,.15);
  margin-bottom: 5rem
}
.body-stats-expert {
  display: flex;
  align-items: center;
  padding: 1.5625rem 5.0625rem
}
.body-stats-expert__item {
  flex: 1 1 25%;
  text-align: center
}
.body-stats-expert__item:last-child {
  flex: 1 1 50%
}
.body-stats-expert__value {
  color: #ec5863;
  font-weight: 700;
  line-height: 1.1944444444
}
.body-stats-expert__text {
  color: #000;
  text-align: center;
  font-size: .6875rem;
  font-weight: 700;
  text-transform: uppercase
}
.stats-expert__decor {
  position: absolute;
  border-radius: 1rem;
  background-color: #ec5863
}
.stats-expert__decor-1 {
  width: 4.0625rem;
  height: 4.0625rem;
  bottom: -1.5625rem;
  left: -1.5625rem;
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg)
}
.stats-expert__decor-2 {
  border-radius: 1.875rem;
  width: 6rem;
  height: 6rem;
  top: -2.1875rem;
  right: 50%;
  -webkit-transform: rotate(105deg);
  transform: rotate(105deg)
}
.stats-expert__decor-3 {
  border-radius: 1.875rem;
  width: 7.9375rem;
  height: 7.9375rem;
  top: -.625rem;
  right: -3.4375rem;
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg)
}
.safe__block-text {
  flex: 0 1 50%;
  align-items: center
}
.block-text {
  max-width: 22.8125rem
}
.healthcare__block-text {
  align-items: center;
  max-width: 100%
}
.healthcare__items {
  display: flex
}
.healthcare__column {
  position: relative;
  padding: 0 2.1875rem;
  flex: 1 1 33.333%
}
.healthcare__column:not(:last-child) {
  margin: 0 .625rem
}
.healthcare__column_1::before {
  content: "";
  position: absolute;
  background-color: #ec5863;
  width: 4.0625rem;
  height: 4.0625rem;
  bottom: -2.1875rem;
  left: .625rem;
  border-radius: 1rem;
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg)
}
.healthcare__column_1::after {
  content: "";
  position: absolute;
  background-color: #ec5863;
  width: 6rem;
  height: 6rem;
  top: .625rem;
  right: -2.1875rem;
  border-radius: 1.875rem;
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg)
}
.healthcare__column_2::after {
  content: "";
  position: absolute;
  background-color: #ec5863;
  width: 7.9375rem;
  height: 7.9375rem;
  bottom: -2.1875rem;
  right: -2.1875rem;
  border-radius: 1.875rem;
  -webkit-transform: rotate(55deg);
  transform: rotate(55deg)
}
.healthcare__column_3::after {
  content: "";
  position: absolute;
  background-color: #ec5863;
  width: 4.0625rem;
  height: 4.0625rem;
  top: -1.875rem;
  right: .625rem;
  border-radius: 1rem;
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg)
}
.healthcare__title {
  color: #000;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.3333333333;
  letter-spacing: .08rem
}
.healthcare__title:not(:last-child) {
  margin-bottom: .25rem
}
.healthcare__text {
  color: #616161;
  text-align: center;
  line-height: 1.3333333333;
  letter-spacing: .06125rem
}
.block-text_center {
  align-items: center
}
.block-text__text_mw {
  max-width: 37.8125rem;
  margin: 0 auto
}
.item-healthcare {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2.3125rem 1.0625rem;
  border-radius: .5rem;
  background: #fff;
  box-shadow: 0 .25rem 1.125rem 0 rgba(88,126,236,.18);
  transition: all .5s ease 0s
}
.item-healthcare:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02)
}
.item-healthcare__icon {
  padding-bottom: 3.625rem
}
@media (min-width:47.99875em) {
  .button {
    min-width: 8.125rem
  }
  .header__button {
    flex: 0 0 15.75rem;
    display: flex;
    justify-content: flex-end
  }
}
@media (min-width:61.99875em) {
  .safe__media {
    padding: 0 0 0 2.8125rem
  }
}
@media (min-width:68.125em) {
  .block-text__title {
    font-size: 2.75rem
  }
  .menu__list {
    -webkit-column-gap: 2.5rem;
    -moz-column-gap: 2.5rem;
    column-gap: 2.5rem
  }
  .footer {
    padding-bottom: 2.875rem
  }
  .footer {
    padding-top: 2.875rem
  }
  .footer_items {
    gap: 3.5rem
  }
  .main-block__container {
    padding-top: 9.375rem
  }
  .main-block__container {
    padding-bottom: 3.125rem
  }
  .main-block__container:before {
    right: 12.5rem
  }
  .main-block__video {
    padding-top: 3.75rem
  }
  .safe__container {
    padding-top: 5rem
  }
  .safe__container {
    padding-bottom: 5rem
  }
  .experts {
    padding-top: 6.4375rem
  }
  .experts {
    padding-bottom: 6.5625rem
  }
  .body-stats-expert__value {
    font-size: 2.25rem
  }
  .body-stats-expert__value {
    letter-spacing: .0196875rem
  }
  .body-stats-expert__text {
    letter-spacing: .015625rem
  }
  .page__healthcare {
    padding-top: 6.4375rem
  }
  .page__healthcare {
    padding-bottom: 6.5625rem
  }
  .healthcare__items {
    padding-top: 4.75rem
  }
}
@media (min-width:20em) {
  .header__container {
    gap: 1.25rem
  }
}
@media (max-width:20em) {
  .block-text__title {
    font-size: 1.875rem
  }
  .menu__list {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
  .footer {
    padding-bottom: 1.25rem
  }
  .footer {
    padding-top: 1.25rem
  }
  .footer_items {
    gap: .9375rem
  }
  .main-block__container {
    padding-top: 3.75rem
  }
  .main-block__container {
    padding-bottom: 1.875rem
  }
  .main-block__container:before {
    right: 10.625rem
  }
  .main-block__video {
    padding-top: .625rem
  }
  .safe__container {
    padding-top: 1.875rem
  }
  .safe__container {
    padding-bottom: 1.875rem
  }
  .experts {
    padding-top: 3.125rem
  }
  .experts {
    padding-bottom: 1.875rem
  }
  .body-stats-expert__value {
    font-size: 1.875rem
  }
  .body-stats-expert__value {
    letter-spacing: .0134375rem
  }
  .body-stats-expert__text {
    letter-spacing: .00625rem
  }
  .page__healthcare {
    padding-top: 3.125rem
  }
  .page__healthcare {
    padding-bottom: 1.25rem
  }
  .healthcare__items {
    padding-top: 1.875rem
  }
}
@media (max-width:61.99875em) {
  .experts__body {
    flex-direction: column;
    align-items: stretch
  }
  .experts__content {
    margin-bottom: 1.25rem;
    padding: 0
  }
  .experts__video {
    flex: 1 1 auto;
    padding-top: 50%
  }
  .block-text {
    max-width: none
  }
}
@media (max-width:47.99875em) {
  .button {
    padding: .75rem 1.25rem
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 3.125rem .9375rem .9375rem 1.875rem;
    transition: left .3s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #000
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .header__container {
    min-height: 4.6875rem
  }
  .header__actions {
    position: relative;
    z-index: 5;
    display: flex;
    gap: .9375rem;
    align-items: center
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    transition: all .3s ease 0s;
    background-color: #ebeff7;
    padding: 3.75rem .9375rem 1.875rem .9375rem
  }
  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 4.375rem;
    transition: left .3s ease 0s;
    background-color: #dcdcdc;
    z-index: 2
  }
  .menu__list {
    flex-direction: column;
    align-items: center;
    row-gap: 1.75rem;
    justify-content: space-between
  }
  .menu__item:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .menu__link {
    font-size: 1.875rem;
    transition: all .3s ease 0s
  }
  .main-block__container:before {
    display: none
  }
  .media-safe__item_1 {
    opacity: .7;
    z-index: 0
  }
  .healthcare__items {
    flex-direction: column;
    row-gap: .625rem
  }
}
@media (max-width:47.99875em) and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:47.99875em) and (max-width:0.125em) {
  .menu__body {
    padding-top: 7.5rem
  }
}
@media (max-width:37.5em) {
  .main-block__container {
    flex-direction: column
  }
  .main-block__content {
    flex: 1 1 100%
  }
  .main-block__block-text {
    max-width: none
  }
  .main-block__image {
    padding: .625rem .3125rem;
    flex: 1 1 100%
  }
  .main-block__video {
    padding-left: 0
  }
  .safe__container {
    flex-direction: column-reverse
  }
  .safe__content {
    margin-bottom: 1.875rem
  }
}
@media (max-width:29.99875em) {
  .header__logo {
    overflow: hidden;
    flex: 0 0 2.375rem
  }
  .footer_items {
    flex-direction: column
  }
  .media-safe {
    width: 18.4375rem
  }
  .body-stats-expert {
    padding: 1.5625rem 2rem;
    flex-direction: column
  }
  .stats-expert__decor-3 {
    top: 8.125rem;
    right: -3.4375rem
  }
}
@media (max-width:0.0625em) {
  .header__container {
    gap: 2.5rem
  }
}
@media (min-width:20em) and (max-width:68.125em) {
  @supports (font-size:clamp(1.875rem ,1.5113636364rem + 1.8181818182vw ,2.75rem)) {
    .block-text__title {
      font-size: clamp(1.875rem ,1.5113636364rem + 1.8181818182vw ,2.75rem)
    }
  }
  @supports not (font-size:clamp(1.875rem ,1.5113636364rem + 1.8181818182vw ,2.75rem)) {
    .block-text__title {
      font-size: calc(1.875rem + .875 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports ((-moz-column-gap:clamp(0.9375rem ,0.2881493506rem + 3.2467532468vw ,2.5rem)) or (column-gap:clamp(0.9375rem ,0.2881493506rem + 3.2467532468vw ,2.5rem))) {
    .menu__list {
      -webkit-column-gap: clamp(.9375rem ,.2881493506rem + 3.2467532468vw ,2.5rem);
      -moz-column-gap: clamp(.9375rem ,.2881493506rem + 3.2467532468vw ,2.5rem);
      column-gap: clamp(.9375rem ,.2881493506rem + 3.2467532468vw ,2.5rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(0.9375rem ,0.2881493506rem + 3.2467532468vw ,2.5rem)) or (column-gap:clamp(0.9375rem ,0.2881493506rem + 3.2467532468vw ,2.5rem))) {
    .menu__list {
      -webkit-column-gap: calc(.9375rem + 1.5625 * (100vw - 20rem)/ 48.125);
      -moz-column-gap: calc(.9375rem + 1.5625 * (100vw - 20rem)/ 48.125);
      column-gap: calc(.9375rem + 1.5625 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (padding-bottom:clamp(1.25rem ,0.5746753247rem + 3.3766233766vw ,2.875rem)) {
    .footer {
      padding-bottom: clamp(1.25rem ,.5746753247rem + 3.3766233766vw ,2.875rem)
    }
  }
  @supports not (padding-bottom:clamp(1.25rem ,0.5746753247rem + 3.3766233766vw ,2.875rem)) {
    .footer {
      padding-bottom: calc(1.25rem + 1.625 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (padding-top:clamp(1.25rem ,0.5746753247rem + 3.3766233766vw ,2.875rem)) {
    .footer {
      padding-top: clamp(1.25rem ,.5746753247rem + 3.3766233766vw ,2.875rem)
    }
  }
  @supports not (padding-top:clamp(1.25rem ,0.5746753247rem + 3.3766233766vw ,2.875rem)) {
    .footer {
      padding-top: calc(1.25rem + 1.625 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (gap:clamp(0.9375rem ,-0.1274350649rem + 5.3246753247vw ,3.5rem)) {
    .footer_items {
      gap: clamp(.9375rem ,-.1274350649rem + 5.3246753247vw ,3.5rem)
    }
  }
  @supports not (gap:clamp(0.9375rem ,-0.1274350649rem + 5.3246753247vw ,3.5rem)) {
    .footer_items {
      gap: calc(.9375rem + 2.5625 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (padding-top:clamp(3.75rem ,1.4123376623rem + 11.6883116883vw ,9.375rem)) {
    .main-block__container {
      padding-top: clamp(3.75rem ,1.4123376623rem + 11.6883116883vw ,9.375rem)
    }
  }
  @supports not (padding-top:clamp(3.75rem ,1.4123376623rem + 11.6883116883vw ,9.375rem)) {
    .main-block__container {
      padding-top: calc(3.75rem + 5.625 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (padding-bottom:clamp(1.875rem ,1.3555194805rem + 2.5974025974vw ,3.125rem)) {
    .main-block__container {
      padding-bottom: clamp(1.875rem ,1.3555194805rem + 2.5974025974vw ,3.125rem)
    }
  }
  @supports not (padding-bottom:clamp(1.875rem ,1.3555194805rem + 2.5974025974vw ,3.125rem)) {
    .main-block__container {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (right:clamp(10.625rem ,9.8457792208rem + 3.8961038961vw ,12.5rem)) {
    .main-block__container:before {
      right: clamp(10.625rem ,9.8457792208rem + 3.8961038961vw ,12.5rem)
    }
  }
  @supports not (right:clamp(10.625rem ,9.8457792208rem + 3.8961038961vw ,12.5rem)) {
    .main-block__container:before {
      right: calc(10.625rem + 1.875 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (padding-top:clamp(0.625rem ,-0.6737012987rem + 6.4935064935vw ,3.75rem)) {
    .main-block__video {
      padding-top: clamp(.625rem ,-.6737012987rem + 6.4935064935vw ,3.75rem)
    }
  }
  @supports not (padding-top:clamp(0.625rem ,-0.6737012987rem + 6.4935064935vw ,3.75rem)) {
    .main-block__video {
      padding-top: calc(.625rem + 3.125 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (padding-top:clamp(1.875rem ,0.5762987013rem + 6.4935064935vw ,5rem)) {
    .safe__container {
      padding-top: clamp(1.875rem ,.5762987013rem + 6.4935064935vw ,5rem)
    }
  }
  @supports not (padding-top:clamp(1.875rem ,0.5762987013rem + 6.4935064935vw ,5rem)) {
    .safe__container {
      padding-top: calc(1.875rem + 3.125 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (padding-bottom:clamp(1.875rem ,0.5762987013rem + 6.4935064935vw ,5rem)) {
    .safe__container {
      padding-bottom: clamp(1.875rem ,.5762987013rem + 6.4935064935vw ,5rem)
    }
  }
  @supports not (padding-bottom:clamp(1.875rem ,0.5762987013rem + 6.4935064935vw ,5rem)) {
    .safe__container {
      padding-bottom: calc(1.875rem + 3.125 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (padding-top:clamp(3.125rem ,1.7483766234rem + 6.8831168831vw ,6.4375rem)) {
    .experts {
      padding-top: clamp(3.125rem ,1.7483766234rem + 6.8831168831vw ,6.4375rem)
    }
  }
  @supports not (padding-top:clamp(3.125rem ,1.7483766234rem + 6.8831168831vw ,6.4375rem)) {
    .experts {
      padding-top: calc(3.125rem + 3.3125 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (padding-bottom:clamp(1.875rem ,-0.0730519481rem + 9.7402597403vw ,6.5625rem)) {
    .experts {
      padding-bottom: clamp(1.875rem ,-.0730519481rem + 9.7402597403vw ,6.5625rem)
    }
  }
  @supports not (padding-bottom:clamp(1.875rem ,-0.0730519481rem + 9.7402597403vw ,6.5625rem)) {
    .experts {
      padding-bottom: calc(1.875rem + 4.6875 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (font-size:clamp(1.875rem ,1.7191558442rem + 0.7792207792vw ,2.25rem)) {
    .body-stats-expert__value {
      font-size: clamp(1.875rem ,1.7191558442rem + .7792207792vw ,2.25rem)
    }
  }
  @supports not (font-size:clamp(1.875rem ,1.7191558442rem + 0.7792207792vw ,2.25rem)) {
    .body-stats-expert__value {
      font-size: calc(1.875rem + .375 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (letter-spacing:clamp(0.0134375rem ,0.0108400974rem + 0.012987013vw ,0.0196875rem)) {
    .body-stats-expert__value {
      letter-spacing: clamp(.0134375rem ,.0108400974rem + .012987013vw ,.0196875rem)
    }
  }
  @supports not (letter-spacing:clamp(0.0134375rem ,0.0108400974rem + 0.012987013vw ,0.0196875rem)) {
    .body-stats-expert__value {
      letter-spacing: calc(.0134375rem + .00625 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (letter-spacing:clamp(0.00625rem ,0.0023538961rem + 0.0194805195vw ,0.015625rem)) {
    .body-stats-expert__text {
      letter-spacing: clamp(.00625rem ,.0023538961rem + .0194805195vw ,.015625rem)
    }
  }
  @supports not (letter-spacing:clamp(0.00625rem ,0.0023538961rem + 0.0194805195vw ,0.015625rem)) {
    .body-stats-expert__text {
      letter-spacing: calc(.00625rem + .009375 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (padding-top:clamp(3.125rem ,1.7483766234rem + 6.8831168831vw ,6.4375rem)) {
    .page__healthcare {
      padding-top: clamp(3.125rem ,1.7483766234rem + 6.8831168831vw ,6.4375rem)
    }
  }
  @supports not (padding-top:clamp(3.125rem ,1.7483766234rem + 6.8831168831vw ,6.4375rem)) {
    .page__healthcare {
      padding-top: calc(3.125rem + 3.3125 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (padding-bottom:clamp(1.25rem ,-0.9577922078rem + 11.038961039vw ,6.5625rem)) {
    .page__healthcare {
      padding-bottom: clamp(1.25rem ,-.9577922078rem + 11.038961039vw ,6.5625rem)
    }
  }
  @supports not (padding-bottom:clamp(1.25rem ,-0.9577922078rem + 11.038961039vw ,6.5625rem)) {
    .page__healthcare {
      padding-bottom: calc(1.25rem + 5.3125 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (padding-top:clamp(1.875rem ,0.6801948052rem + 5.974025974vw ,4.75rem)) {
    .healthcare__items {
      padding-top: clamp(1.875rem ,.6801948052rem + 5.974025974vw ,4.75rem)
    }
  }
  @supports not (padding-top:clamp(1.875rem ,0.6801948052rem + 5.974025974vw ,4.75rem)) {
    .healthcare__items {
      padding-top: calc(1.875rem + 2.875 * (100vw - 20rem)/ 48.125)
    }
  }
}
@media (min-width:0.0625em) and (max-width:20em) {
  @supports (gap:clamp(1.25rem ,2.5039184953rem + -6.2695924765vw ,2.5rem)) {
    .header__container {
      gap: clamp(1.25rem ,2.5039184953rem + -6.2695924765vw ,2.5rem)
    }
  }
  @supports not (gap:clamp(1.25rem ,2.5039184953rem + -6.2695924765vw ,2.5rem)) {
    .header__container {
      gap: calc(2.5rem + -1.25 * (100vw - .0625rem)/ 19.9375)
    }
  }
}
@media (max-width:47.99875em) and (min-width:20em) {
  .menu__body {
    padding-top: 11.25rem
  }
}
@media (max-width:47.99875em) and (min-width:0.125em) and (max-width:20em) {
  @supports (padding-top:clamp(7.5rem ,7.4764150943rem + 18.8679245283vw ,11.25rem)) {
    .menu__body {
      padding-top: clamp(7.5rem ,7.4764150943rem + 18.8679245283vw ,11.25rem)
    }
  }
  @supports not (padding-top:clamp(7.5rem ,7.4764150943rem + 18.8679245283vw ,11.25rem)) {
    .menu__body {
      padding-top: calc(7.5rem + 3.75 * (100vw - .125rem)/ 19.875)
    }
  }
}
@media (any-hover:hover) {
  .button:hover {
    background-color: #ed0817
  }
  .button:hover {
    background-color: #055deb
  }
  .menu__link:hover {
    color: #4285f4;
    -webkit-transform: scale(1.02);
    transform: scale(1.02)
  }
}